venv
__pycache__
.vscode

storage/redis-0/redis.conf
storage/redis-1/redis.conf
storage/redis-2/redis.conf
storage/sentinel-0/sentinel.conf
storage/sentinel-1/sentinel.conf
storage/sentinel-2/sentinel.conf